<!--<h3 class="display-4 fw-bold text-body-emphasis pb-5">Su di me:</h3>
<div class="row flex-lg-row-reverse align-items-center g-5 pt-5">
    <div class="col-10 col-sm-8 col-lg-6">
        <h2 class="display-5 fw-bold text-body-emphasis lh-1 mb-5">Franco Trento – L'Emozione nei Colori</h2>
        <p>Franco Trento è un artista contemporaneo che esplora il linguaggio dell’arte moderna concettuale attraverso la tela e il colore. Le sue opere, caratterizzate da una forte carica emotiva, trasformano la pittura in un mezzo di espressione profonda, dove ogni tonalità diventa una voce che racconta stati d’animo, intuizioni e visioni.</p>
        
        <p>Attivo da anni nella scena artistica italiana, Trento collabora con numerose associazioni artistiche in tutto il Nord Italia, contribuendo a progetti culturali che avvicinano il pubblico alla sperimentazione visiva. La sua arte si nutre di incontri e scambi creativi, come quello con Andrea Pazienza, amico e riferimento, il cui spirito innovativo ha lasciato un segno indelebile nel suo percorso.</p>  
        
        <p>Con un approccio che fonde istinto e ricerca, Franco Trento continua a sperimentare e a dar vita a opere che vibrano di colore, significato e poesia visiva.</p>
      </div>
    <div class="col-lg-6 align-items-end">
      <img src="/assets/images/index/Leonardo_Phoenix_09_Create_a_minimalist_background_with_a_vibr_0.jpg" class="d-block mx-lg-auto img-fluid" alt="Candela decorata Franco Trento">
    </div>
</div>-->

<!-- col-xxl-8 è più stretto -->
<div class="container col-xxl-12 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-sm-8 col-lg-6">
        <img src="/assets/images/index/Leonardo_Phoenix_09_Create_a_minimalist_background_with_a_vibr_0.jpg" class="d-block mx-lg-auto img-fluid" alt="Foto ritratto Franco Trento" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h3 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Franco Trento – Chi sono</h3>
        <p>Franco Trento è un artista contemporaneo che esplora il linguaggio dell’arte moderna concettuale attraverso la tela e il colore. Le sue opere, caratterizzate da una forte carica emotiva, trasformano la pittura in un mezzo di espressione profonda, dove ogni tonalità diventa una voce che racconta stati d’animo, intuizioni e visioni.</p>
        
        <p>Attivo da anni nella scena artistica italiana, Trento collabora con numerose associazioni artistiche in tutto il Nord Italia, contribuendo a progetti culturali che avvicinano il pubblico alla sperimentazione visiva. La sua arte si nutre di incontri e scambi creativi, come quello con Andrea Pazienza, amico e riferimento, il cui spirito innovativo ha lasciato un segno indelebile nel suo percorso.</p>  
        
        <p>Con un approccio che fonde istinto e ricerca, Franco Trento continua a sperimentare e a dar vita a opere che vibrano di colore, significato e poesia visiva.</p>
        <!--<div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
        </div>-->
      </div>
    </div>
  </div>