<div class="container">
  <h2 class="display-5 fw-bold lh-1 mb-5">Con chi collaboro</h2>
        <!-- Sezione Collaborazioni -->
        <div class="row text-center mb-3">
          <div class="col-6 col-md-3 mb-3">
              <img src="https://picsum.photos/200/150?random=1" alt="Logo 1" class="img-fluid">
          </div>
          <div class="col-6 col-md-3 mb-3">
              <img src="https://picsum.photos/200/150?random=2" alt="Logo 2" class="img-fluid">
          </div>
          <div class="col-6 col-md-3 mb-3">
              <img src="https://picsum.photos/200/150?random=3" alt="Logo 3" class="img-fluid">
          </div>
          <div class="col-6 col-md-3 mb-3">
              <img src="https://picsum.photos/200/150?random=4" alt="Logo 4" class="img-fluid">
          </div>
      </div>
</div>
<!-- FOOTER HOME Franco Trento -->

        <!-- Separatore -->
        <hr class="bg-light">
  <div class="container-fluid">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 py-5 justify-content-center">
      <!-- Logo e descrizione -->
      <div class="col mb-3 text-center text-md-start">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none justify-content-center justify-content-md-start">
          <img src="{{ site.baseurl }}/assets/images/logo-white-300x76.png" alt="Franco Trento Logo" class="img-fluid navbar-logo" />
        </a>        
        <p class="text-center text-md-start">
          Un artista contemporaneo che esprime su tela le sue emozioni.
        </p>
      </div>

      <!-- Sezione Contatti -->
      <div class="col mb-3 text-center text-md-start">
        <h5 class="fw-bold">Contatti</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0"><i class="fa-solid fa-location-dot"></i> Via Palestro, 9, 95040 Licodia Eubea CT</a></li>
          <li class="nav-item mb-2"><a href="mailto:info@Franco Trento.com" class="nav-link p-0"><i class="fa-solid fa-envelope-circle-check"></i> info@Franco Trento.com</a></li>
          <li class="nav-item mb-2"><a href="tel:+XXXXXXX" class="nav-link p-0"><i class="fa-solid fa-phone"></i> XXXX XXX XXXX</a></li>
        </ul>
      </div>

      <!-- Sezione Informazioni su Franco Trento -->
      <div class="col mb-3 text-center text-md-start">
        <h5 class="fw-bold">Cosa faccio</h5>
        <p>
          Creo opere contemporanee in acrilico su tela e collaboro con gallerie d'arte nel nord italia.
        </p>
      </div>

      <!-- Sezione Social 
      <div class="col mb-3 text-center text-md-start">
        <h5 class="fw-bold">Ogni tanto posto su Instagram</h5>
        <ul class="list-unstyled d-flex justify-content-center justify-content-md-start">
          <li class="me-3">
            <a href="https://www.facebook.com/Franco Trentoit" aria-label="Facebook Franco Trento">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/francotrento/" aria-label="Instagram Franco Trento">
              <i class="fa-brands fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>-->
    </footer>

    <!-- Linea divisoria e copyright -->
    <hr>
    <div class="container justify-content-between py-3 flex-column flex-md-row text-center text-md-start">
      <p class="mb-0">© Franco Trento SRL. P.IVA XXXXXXXX – Cod. Univoco XXXXX – Tutti i diritti riservati.</p>
      <p class="mb-0">Made by Antonio Trento</p>
    </div>
  </div>



<footer class="bd-footer py-5 mt-5 bg-light">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <a href="/" class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none">
          <img src="{{ site.baseurl }}/assets/images/logo-white-300x76.png" alt="Franco Trento Logo" class="img-fluid navbar-logo" />
        </a>   
        <p class="text-md-start">
          Un artista contemporaneo che esprime su tela le sue emozioni.
        </p>
      </div>
      <div class="col-6 col-lg-2 offset-lg-1 mb-3">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/">Home</a></li>
          <li class="mb-2"><a href="/docs/5.0/">Docs</a></li>
          <li class="mb-2"><a href="/docs/5.0/examples/">Examples</a></li>
          <li class="mb-2"><a href="https://themes.getbootstrap.com/">Themes</a></li>
          <li class="mb-2"><a href="https://blog.getbootstrap.com/">Blog</a></li>
          <li class="mb-2"><a href="https://cottonbureau.com/people/bootstrap">Swag Store</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Guides</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="/docs/5.0/getting-started/">Getting started</a></li>
          <li class="mb-2"><a href="/docs/5.0/examples/starter-template/">Starter template</a></li>
          <li class="mb-2"><a href="/docs/5.0/getting-started/webpack/">Webpack</a></li>
          <li class="mb-2"><a href="/docs/5.0/getting-started/parcel/">Parcel</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Projects</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://github.com/twbs/bootstrap">Bootstrap 5</a></li>
          <li class="mb-2"><a href="https://github.com/twbs/bootstrap/tree/v4-dev">Bootstrap 4</a></li>
          <li class="mb-2"><a href="https://github.com/twbs/icons">Icons</a></li>
          <li class="mb-2"><a href="https://github.com/twbs/rfs">RFS</a></li>
          <li class="mb-2"><a href="https://github.com/twbs/bootstrap-npm-starter">npm starter</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-2 mb-3">
        <h5>Community</h5>
        <ul class="list-unstyled">
          <li class="mb-2"><a href="https://github.com/twbs/bootstrap/issues">Issues</a></li>
          <li class="mb-2"><a href="https://github.com/twbs/bootstrap/discussions">Discussions</a></li>
          <li class="mb-2"><a href="https://github.com/sponsors/twbs">Corporate sponsors</a></li>
          <li class="mb-2"><a href="https://opencollective.com/bootstrap">Open Collective</a></li>
          <li class="mb-2"><a href="https://stackoverflow.com/questions/tagged/bootstrap-5">Stack Overflow</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
