<!-- NAVBAR HOME Franco Trento -->
<nav class="navbar navbar-expand-lg" aria-label="Main navigation">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="{{ site.baseurl }}/assets/images/francotrento-logo.png" alt="Franco Trento Logo" class="navbar-logo" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExample">
            <ul class="navbar-nav mb-2 mb-lg-0 me-4">
                {% for item in site.navigation %}
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="{{ item.url }}">{{ item.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <a href="#" class="btn btn-custom-primary px-4 fw-bold">
                <i class="fa-solid fa-shopping-cart fa-beat-fade"></i> Call to Action 
                
            </a>
        </div>
    </div>
</nav>

